
.table {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: .9rem;
  margin: 0 -5px;
  line-height: .5;
  width: 50%;
  font-family: Gill Sans;
  font-weight: 10%;
}

.th {
  display: none;
  font-weight: bold;
  /*background-color: #f2f2f2;*/
  border-bottom: 1px solid #d0d0d0;
  color: #74a9cf;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  /*border-bottom: .5px solid #d0d0d0;*/
}

/*.tr:nth-of-type(even) {
  background-color: #e8eff9;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}*/

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.3em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  margin: 0 5px;
}

/* Non-table styling */

.title {
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 14px;
    vertical-align: top;
    font-family: Gill Sans;
    color: #2b8cbe;
    /*margin-left: 200px;*/
}

.SearchBar {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 10px;
  font-family: Gill Sans;
  color: #2b8cbe;
}
